@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: rgb(220, 233, 233);
}
.container {
  width: 350px;
  background-color: white;
  box-shadow: 1px 1px 50px #3333331a;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.img-result {
  padding: 40px;
  background-color: #63b832;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 18px;
  border-radius: 10px 10px 0 0;
}

.img-result p {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
.bmi-box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #333333;
  border: 10px solid white;
  color: white;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  font-size: 40px;
  bottom: 200px;
  right: 32%;
}

.height-weight-box {
  background-color: white;
  color: #333333;
}
.height,
.weight {
  border: none;
  outline: none;
  font-size: 18px;
  background-color: #efefef;
  padding: 10px;
  border-radius: 5px;
  color: #333333;
}
.weight {
  margin-top: 20px;
}
.height-weight-box {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.btn-box {
  display: flex;
  justify-content: center;
  margin: 25px 0;
}
.btn-box button {
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 20px;
  width: 30%;
  color: white;
  background-color: #333333;
}
.btn-box button:hover {
  background-color: #212020;
}
textarea::placeholder {
  color: #333333;
}
img {
  max-width: 25%;
  min-width: 25%;
  width: 200px;
  height: 200px;
}
.normal-bg {
  background-color: #63b832;
}

.overweight-bg {
  background-color: #f3ea27;
}

.obese-bg {
  background-color: #e71419;
}

.underweight-bg {
  background-color: #00a1ec;
}
.red-massage {
  color: #e71419;
}
