* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #13162b;
  background-repeat: no-repeat;
}
.under-app-container {
  z-index: -1;
  position: absolute;
  width: 70vmin;
  height: 85vmin;
  background-color: #0087ff;
  border-radius: 9px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
}
.app-container {
  z-index: 1;
  width: 80vmin;
  background-color: #13162b;
  background-repeat: no-repeat;
  padding: 100px 40px;
  border-radius: 9px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
}
.app-container h1 {
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-size: 80px;
  color: #ffffff;
}
.btns {
  display: flex;
  justify-content: space-around;
  margin-top: 80px;
}
.btns button {
  width: 30%;
  padding: 15px 0;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
button.inc-btn,
button.dec-btn {
  background-color: #0087ff;
  color: #ffffff;
}

button.dec-btn:hover {
  background-color: #046ecc;
}
button.inc-btn:hover {
  background-color: #0087ff;
}
button.reset-btn {
  background-color: transparent;
  border: 4px solid #0087ff;
  color: #0087ff;
}
button.reset-btn:hover {
  border: 4px solid #026cc8;
  color: #026cc8;
  background-color: #13162b;
}
