@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
  text-align: center;
}
.container {
  width: 500px;
  height: 400px;
  padding: 0 3em;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.heading,
.main {
  padding: 25px;
  border-bottom: 1px solid #ececec;
}
.result {
  padding: 25px;
  font-size: 20px;
}

.heading h1 {
  color: #8b9ba5;
  font-size: 24px;
}
.heading .under-text {
  margin-top: 5px;
  color: #acb1b4;
}
.main p {
  font-size: 20px;
  color: #262626;
}
.main input {
  padding: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  border: none;
  outline: none;
  width: 90px;
  color: #262626;
  border-bottom: 2px solid #8b9ba5;
  text-align: center;
}
.main button {
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border: none;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: #8d9eea;
  color: white;
  cursor: pointer;
  transition: all ease-in-out 150ms;
}
.main button:hover {
  background-color: #7382c8;
}
